<% var item, key %>

<% htmlWebpackPlugin.options.css = htmlWebpackPlugin.options.css || [] %>
<% htmlWebpackPlugin.options.links = htmlWebpackPlugin.options.links || [] %>
<% htmlWebpackPlugin.options.favicons = htmlWebpackPlugin.options.favicons || [] %>
<% htmlWebpackPlugin.options.scripts = htmlWebpackPlugin.options.scripts || [] %>
<% htmlWebpackPlugin.files.chunks = htmlWebpackPlugin.files.chunks || [] %>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="ie=edge" http-equiv="x-ua-compatible">
        <meta name="robots" content="noindex">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
        
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>

        <% for (item of htmlWebpackPlugin.options.favicons) { %>
            <link rel='<%= item.rel %>' types='<%= item.type %>' sizes='<%= item.size %>' href='<%= item.href %>'>
        <% } %>

        <% if (htmlWebpackPlugin.options.mobile) { %>
            <meta content="width=device-width, initial-scale=1" name="viewport">
        <% } %>

        <% for (item of htmlWebpackPlugin.options.links) { %>
            <% if (typeof item === 'string' || item instanceof String) { item = { href: item, rel: 'stylesheet' } } %>
                <link <% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %>>
        <% } %>

    </head>
    <body style="overflow-x: auto;">

        <div id="root" class=""></div>
        
        <% if (htmlWebpackPlugin.options.devServer) { %>
            <script src="<%= htmlWebpackPlugin.options.devServer %>/webpack-dev-server.js" type="text/javascript"></script>
        <% } %>

    </body>
</html>
